@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 4% 9%;
    --foreground: 0 0% 100%;

    --card: 210 4% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 210 4% 9%;
    --popover-foreground: 0 0% 100%;

    --primary: 272 58% 42%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 275 100% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 300 100% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 300 100% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}